@font-face {
    font-family: 'Markazi';
    src: url(fonts/MarkaziText-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Actor';
    src: url(fonts/Actor-Regular.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
}

/* NavBar */

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 99;
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 0, 0, .3);
    transition: 1s;
}

.wrap {
    width: 92.3%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10vh;
}

.logo {
    width: 30vh;
    height: auto;
    cursor: pointer;
}

.header-buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width: 18%;
}

.Nav-Style {
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0.1vh 2.6vh 0.1vh 2.6vh ;
    border-radius: 10vh;
    cursor: pointer;
    font-family: 'Markazi';
    font-size: 3vh;
    color: black;
    background-color: #D9D9D9;
} 

.nav-btn{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}

.nav-btn-size{
    width: 4vh;
    height: auto;
}

.hover-icon:hover{
    opacity: 1;
    transition: 0.3s;
    filter: grayscale(0%) sepia(100%) saturate(5000%) hue-rotate(-45deg);
}

.Nav-Style:hover {
    transition: all ease 0.5s;
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: solid white;
}

.profile{
    background-color: #D9D9D9;
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
}

/* Pop Up */

.login-box{
    width: 22.9vh;
    height: 9.1vh;
    position: fixed;
    z-index: 100;
    top: 10vh;
    right: 1vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 1vh;
}

.login-index{
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}  

.pop-indicator{
    position: absolute;
    top: -24%;
}

.pop-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1vh;
    color: #000;
    text-decoration: none;
    font-size: 2vh;
}

.pop-btn:hover{
    background-color: #bdbdbd;
    transition: 0.3s;
}


.grid-top{
    border-radius: 1vh 1vh 0vh 0vh;
}

.grid-bot{
    border-radius: 0vh 0vh 1vh 1vh;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 1vh;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #cccccc;
    opacity: 0;
    border-radius: 1vh;
}

::-webkit-slider-thumb:hover{
    background: #BABABA;
}