@font-face {
    font-family: 'Markazi';
    src: url(fonts/MarkaziText-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Actor';
    src: url(fonts/Actor-Regular.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2A2A2A;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* NavBar */

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 99;
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 0, 0, .3);
    transition: 1s;
}

.wrap {
    width: 92.3%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10vh;
}

.logo {
    width: 30vh;
    height: auto;
    cursor: pointer;
}

.header-buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width: 18%;
}

.Nav-Style {
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0.1vh 2.6vh 0.1vh 2.6vh ;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Markazi';
    font-size: 3vh;
    color: black;
    background-color: #D9D9D9;
} 

.nav-btn{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}

.nav-btn-size{
    width: 4vh;
    height: auto;
}

.hover-icon:hover{
    opacity: 1;
    transition: 0.3s;
    filter: grayscale(0%) sepia(100%) saturate(5000%) hue-rotate(-45deg);
}

.Nav-Style:hover {
    transition: all ease 0.5s;
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: solid white;
}

.profile{
    background-color: #D9D9D9;
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
}

.right-margin{
    margin-right: 1vh;
}

/* background */

.Container{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 90;
}

.background{
    width: 100%;
    height: 186.4vh;
    z-index: -1;
    position: absolute;
}

.background img{
    width: 100%;
    transition: 0.3s;
}

/* Profile */

.search-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
}

.search-contents{
    height: auto;
    width: 137vh;
    display: flex;
    gap: 1vh;
}


/* left top */
.left-top-content{
    width: 85vh;
    height: 0vh;
    visibility: hidden;
    background-color: #2A2A2A;
    border-radius: 0.5vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: ease-in-out;
    overflow: hidden;
    transition: 0.8s;
}

.draw{
    height: 36.9vh;
    visibility: visible;
    transition: 0.8s;
}


.header-diss{
    width: 95%;
    color: #B9B9B9;
    font-family: Actor;
    font-size: 2vh;
    text-shadow: 0.4vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    margin: 1.5vh;
}

.line-left{
    width: 81vh;
    height: 0.1vh;
    background-color: #B9B9B9;
    text-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.25);
}

.mid-content{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap:1vh;
    margin: 1.5vh;
}
.user-pic{
    width: 4.5vh;
    height: 4.5vh;
    background-color: #B9B9B9;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.inputs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.input-title{
    width: 74.2vh;
    height: 4vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #000;
    background: #424242;
    box-shadow: 0px 0px 0.5vh 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
}

.input-title input{
    width: 96%;
    height: 100%;
    margin-left: 1vh;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: Actor;
    font-size: 2vh;
    color: white;
    transition: 0.3s;
}

.input-title:focus-within,
.input-title:hover,
.input-body:focus-within,
.input-body:hover,
.inner-category:focus-within,
.inner-category:hover{
    transition: 0.3s;
    background-color: rgb(214, 214, 214);
}

.input-title input:focus,
.input-title input:hover,
.input-body textarea:focus,
.input-body textarea:hover,
.inner-category input:focus,
.inner-category input:hover{
    color: black;
    transition: 0.3s;
}

.input-body{
    width: 74.2vh;
    height: 8vh; 
    border-radius: 0.5vh;
    border: 0.1vh solid #000;
    background: #424242;
    box-shadow: 0px 0px 0.5vh 0px rgba(0, 0, 0, 0.25) inset;
}

.input-body textarea{
    width: 98%;
    height: 93%;
    margin-left: 1vh;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: Actor;
    font-size: 2vh;
    color: white;
    transition: 0.3s;
    overflow: hidden;
    overflow-y: scroll;
    resize: none;
}

.category{
    width: 95%;
    height: 7vh;
    border-radius: 5px;
    background: #191919;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items:center ;
    gap: 1vh;
}

.category-txt{
    color: rgba(255, 255, 255, 0.75);
    font-family: Actor;
    font-size: 2vh;
    margin-left: 2vh;
}

.inner-category{
    width: 44vh;
    height: 5vh;
    border-radius: 0.5vh;
    background-color: #424242;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
}

.inner-category img{
    height: 3vh;
    width: auto;
    margin-left: 1vh;
}

.inner-category input{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0.5vh;
    font-size: 2vh;
    font-family: Actor;
    outline: none;
    color: white;
}

.button-wrap{
    height: 7vh;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post{
    width: 20vh;
    height: 5vh;
    border-radius: 0.5vh;
    background: linear-gradient(180deg, #FFD540 0%, #998026 100%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    font-family: Actor;
    font-size: 2.4vh;
    border:none;
    cursor: pointer;
}

.post:hover{
    transition: 0.3s;
    transform: scale(1.05);
}

/* left bot */
.left-content{
    height: 88vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.left-bot-content{
    width: 85vh;
    height: 50.2vh;
    border-radius: 0.5vh;
    background: rgba(42, 42, 42, 0.70);
    box-shadow: 0px 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    color: white;
    overflow-y: scroll;
    overflow: hidden;
    transition: 0.8s;
}

.drag{
    height: 100vh;
    transition: 0.8s;
}

/* The Content */

.topic-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.guide-post{
    width: 82vh;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
    padding: 1.5vh;
    border-radius: 0.5vh;
    background: rgba(42, 42, 42, 0.70);
    box-shadow: 0px 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    gap: 1vh;
}

.guide-post:hover{
    transform: scale(1.01);
    transition: 0.3s;
    background-color: #525252;
}

.guide-img-container{
    width: 19.6vh;
    height: 11vh;
    border-radius: 5px;
    border: 0.1vh solid #B9B9B9;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.guide-img-container img{
    width: 100%;
    height: auto;
}

.right-guide{
    width: 59vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.right-guide-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-left{
    display: flex;
    flex-direction: column;
}

.rl-text{
    color: #FFF;
    font-family: Actor;
    font-size: 3.225vh;
    font-weight: 400;
}

.rl-placeholder{
    display: flex;
    align-items: center;
    gap: 0.5vh;
}

.rl-placeholder img{
    width: 2vh;
    height: 2vh;
}

.placeholder-txt{
    color: #D9D9D9;
    font-family: Actor;
    font-size: 1.792vh;
    font-style: italic;
    font-weight: 400;
}

.like-holder{
    display: flex;
    align-items: center;
    gap: 3vh;
}

.like{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.dislike{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.like img{
    width: 4vh;
    height: 4vh;
    flex-shrink: 0;
}

.like-holder button{
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.like-active,
.like img:hover{
    opacity: 1;
    filter: grayscale(0%) sepia(100%) saturate(5000%) hue-rotate(-335deg);
}

.dislike img{
    width: 4vh;
    height: 4vh;
    flex-shrink: 0;
}

.dislike-active,
.dislike img:hover{
    opacity: 1;
    filter: grayscale(0%) sepia(100%) saturate(5000%) hue-rotate(-40deg);
}

.like-font{
    color: #BABABA;
    font-family: Actor;
    font-size: 2.4vh;
    font-weight: 400;
}

.right-guide-bot{
    color: #B9B9B9;
    font-family: Actor;
    font-size: 2.15vh;
    font-weight: 400;
}

/* Discussion */
.discussion-post{
    width: 82vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
    border-radius: 0.5vh;
    background: rgba(42, 42, 42, 0.70);
    box-shadow: 0px 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.discussion-post:hover{
    transform: scale(1.01);
    transition: 0.3s;
    background-color: #525252;
}

.discussion-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    margin-left: 1vh;
}

.discussion-left img{
    width: 6vh;
    height: auto;
}

.discussion-left-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.discussion-top-left{
    color: white;
    font-family: Actor;
    font-size: 3.6vh;
    font-weight: bold;
}

.discussion-bot-left{
    color: white;
    font-family: Actor;
    font-size: 2vh;
}

.discussion-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    margin-right: 1vh;
}

.date{
    color: white;
    font-size: 2vh;
    font-family: Actor;
    gap: 1vh;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.num{
    color: white;
    font-size: 3.6vh;
    font-family: Actor;
}





/* right */
.right-content{
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.right-top-content{
    width: 50vh;
    height: auto;
    background-color: #2A2A2A;
    border-radius: 0.5vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.inner-search{
    width: 45vh;
    height: 5vh;
    border-radius: 5vh;
    background-color: white;
    box-shadow: 0px 0.4vh 1vh 0px rgba(255, 199, 0, 0.54);
    display: flex;
    justify-content: flex-start;
    gap: 1vh;
    margin: 2.5vh 2.5vh 0.5vh 2.5vh;
    align-items: center;
}

.inner-search img{
    margin-left: 1vh;
    height: auto;
    width: 3vh;
}

.inner-search input{
    height: 100%;
    width: 95%;
    font-size: 2.4vh;
    font-family: Actor;
    color: rgba(0, 0, 0, 0.50);
    border: none;
    background-color: transparent;
    outline: none;
}

.inner-search input:focus{
    border: none;
}

.search-nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-btn{
    height: 3.5vh;
    width: auto;
    background-color: transparent;
    border: none;
    color: white;
    font-family: Actor;
    font-size: 2.4vh;
    cursor: pointer;
}

.sbtn-active,
.search-btn:hover{
    color: #FFD540;
    border-bottom: solid 0.5vh #FFD540;
    transition: 0.3s linear;
}

.search-line{
    width: 44vh;
    height: 0.1vh;
    background-color: #B9B9B9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Dropdown */

.Dropdown{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dropdown span {
    width: 30vh;
    height: auto;
    color : white;
    background-color: #000000;
    font-size: 2.4vh;
    cursor : pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
}
  
.Dropdown span::after {
    float: right;
    right: 10%;
}

.dp{
    height: auto;
    width: 3vh;

}
  
.slide {
    width:44vh;
    height:0vh;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    opacity: 0;
}

  
#touch {
    opacity: 0; 
    height: 0vh;
}    

#touch:active .dp{
    transform: rotate(180deg);
}

#touch:checked + .slide {
    height: 23.3vh;
    width:44vh;
    margin-bottom: 2vh;
    border-radius: 0.5vh;
    background: #424242;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    opacity: 1;
} 

.slide li{
    width: 38.5vh;
    height: 3vh;
    border-radius: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.drop-btn {
    text-decoration : none; 
    color : #ffffff;
    font-family: Actor;
    font-size: 2vh;
    width: 100%;
    height: 100%;
    border-radius: 2.5vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.drop-active{
    transition: 0.3s;
    background-color: white;
    color: black;
}

.drop-btn:hover{
    background-color: #818181;
    color: white;
    transition: 0.2s;
}

/* right bot */

.right-bot-content{
    width: 50vh;
    height: 36.2vh;
    background-color: #2A2A2A;
    border-radius: 0.5vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-btn{
    width: 35vh;
    height: 5vh;
    border-radius: 1vh;
    background: linear-gradient(90deg, #FFD540 0%, #998026 100%);
    box-shadow: 0.4vh 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.25);
    font-size: 3.2vh;
    font-family: Actor;
    color: #000;
    margin: 2vh;
    cursor: pointer;
}

.bot-btn:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.guide-desc{
    width: 40vh;
    height: 16vh;
    color: white;
    font-family: Actor;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Pop Up */

.login-box{
    width: 22.9vh;
    height: 9.1vh;
    position: fixed;
    z-index: 100;
    top: 10vh;
    right: 1vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 1vh;
}

.login-index{
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}  

.pop-indicator{
    position: absolute;
    top: -24%;
}

.pop-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1vh;
    color: #000;
    text-decoration: none;
    font-size: 2vh;
}

.pop-btn:hover{
    background-color: #bdbdbd;
    transition: 0.3s;
}

.grid-top{
    border-radius: 1vh 1vh 0vh 0vh;
}

.grid-bot{
    border-radius: 0vh 0vh 1vh 1vh;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 1vh;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #cccccc;
    opacity: 0;
    border-radius: 1vh;
}

::-webkit-slider-thumb:hover{
    background: #BABABA;
}